.card {
    background: radial-gradient(circle at top, #6cb7fe 0%, #ffba42 100%); 
    box-shadow: 0px 8px 32px 0 rgba(245, 188, 32, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
    padding-bottom: 5px;
    max-width: 400px;
    margin: 50px auto;
}

.search {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    
}

.search-bar {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
}

.search-button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    height: 50px;
    width: 50px;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.weather-details {
    text-align: center;
    display: none;
}

.weather-specifications {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.temp {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}

.weather-image {
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

.city {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;

}

.date {
    font-size: 18px;
    color: #555;
}

.ws-col {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ws-image {
    width: 40px;
    height: 40px;
}

.ws-reading {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

.ws-heading {
    font-size: 20px;
    color: #555;
    margin: 0px;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: #4d4d4d;
    font-size: 10px;
}

.real-feel {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin: 0px;
    padding: 0px;
    color: #555;
}

.error {
    text-align: left;
    margin-left: 20px;
    color: rgb(205, 7, 7);
    font-size: 20px;
    display: none;
}

body {
    background-image: url("./assets/images/bgp.jpg");
    background-size: cover;
    background-size: 100% 100%;
}